body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navcontainer {
  display: flex;
  justify-content: flex-end;
  background-color: teal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: teal;
  margin: 0 8%; 
  padding: 1.3% 0;
  width: 20%;
}

.navLinks {
  font-size: 18px;
  color: white;
}

.links li {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  margin-right: 40px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: auto;
  width: 260px;
  height: 60px;
  color: white;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  margin: 40px auto 20px auto;
  background: teal;
  border-radius: 10px;
}

.signup {
  border: 1px solid silver;
  margin: auto;
  max-width: 550px;
  height: 400px;
  text-align: center;
  margin-top: 8%;
}

.newproj {
  border: 1px solid silver;
  max-width: 550px;
  height: 500px;
  text-align: center;
  
}

.f1 {
  font-size: 16px;
  width: 80%;
  padding: 2.5%;
  font-family: "Raleway", sans-serif;
}

.f2 {
  font-size: 16px;
  width: 80%;
  padding: 2.5%;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
}

.f3 {
  font-size: 10px;
  width: 80%;
  padding: 2.5%;
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
}

.logins {
  border: 1px solid silver;
  margin: auto;
  max-width: 550px;
  height: 400px;
  text-align: center;
  margin-top: 220px;
}

.Log {
  text-decoration: underline;
  margin-top: 20%;
}

.toggleOn {
  font-size: 32px;
  color: teal;
}

.toggleOff {
  color: gray;
}
